<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Student</title>
    <style>
        body {
          background-color: lightblue;
          }
          p{
          color : red;
          }
    </style>
</head>
<body>
<center><u><h3>Show Student Detail</h3></u></center>
<label>Student First Name : <p>{{first_name}}</p></label><br>
<label>Student Last Name :  <p>{{last_name}}</p></label><br>
<label>Student Email : <p>{{email}}</p></label><br>
<label>Student Profile  : <p>{{image_path}}&nbsp;&nbsp;<a href="#">ShowStudentProfile</a></p></label><br>
<label>username : <p>{{username}}</p></label>
</body>
</html>