<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Hey Send</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Mannatthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        -->
       <!--link rel="shortcut icon" href="//assets/images/favicon.ico">-->
        <script src="{% static 'js/bootstrap.min.js'%}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


		<!-- DataTables -->
        <link href="{% static 'plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <script src="{% static 'js/jquery.min.js' %}" ></script>
        <link href="{% static 'plugins/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<!-- Multi Select -->
        <link href="{% static 'plugins/multiselect/css/multi-select.css' %}"  rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'plugins/bootstrap-sweetalert/sweet-alert.css' %}" rel="stylesheet" type="text/css" />
		<script src="{% static 'plugins/bootstrap-sweetalert/sweet-alert.min.js' %}"></script>
        <script src="{% static 'plugins/multiselect/js/jquery.multi-select.js' %}"></script>
        <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
		<script src="{% static 'custom.js' %}"></script>
		<link href="{% static 'plugins/animate/animate.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
		<script src="{% static 'plugins/moment/moment.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
		<script src="{% static 'plugins/parsleyjs/parsley.min.js' %}"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript">
            $(document).ready(function() {
                $('form').parsley();
            });
        </script>
    </head>
    <body>
    {% block body %}
    {% endblock %}